.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Lookup {
  margin: 4rem auto 1rem;
}
.Typing {
  margin: 0px auto 0.5rem;
}
.Dashboard {
  margin: 1rem auto 1rem;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.Footer {
  margin: 1rem auto 0.2rem;
}
.Footer__github {
  width: 20px;
  height: 20px;
  fill: #eeeeee;
}
