.Lookup {
  display: flex;
  align-items: center;
}
.Lookup__input {
  font-size: 5rem;
  box-sizing: content-box;
  width: 5rem;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  cursor: pointer;
}
.Lookup__input:focus {
  cursor: text;
  background-color: #ffffff;
}
.Lookup__result {
  height: 6rem;
  display: flex;
  justify-self: center;
}
/* 
.Lookup__result tr {
  border: 1px solid black;
}
*/
.Lookup__result th {
  padding: 0px 1rem;
}
.Lookup__result td {
  width: 6rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: monospace;
}