.Typing {
  outline: none; /*disable border when focused*/
  font-size: 2rem;
  background-color: #f3f3f3;
}
.Typing:focus {
  background-color: #ffffff;
}
.WordQueue {
  display: flex;
  width: 20rem;
  overflow-x: hidden;
}
.Character {
  cursor: pointer;
}
.Character--ready {
  color: black;
}
.Character--correct {
  color: gray;
}
.Character--wrong {
  color: red;
}
