.Typing {
  outline: none; /*disable border when focused*/
  font-size: 2rem;
}
.WordQueue {
  display: flex;
  width: 20rem;
}
.Character {
  cursor: pointer;
}
.Character--ready {
  color: black;
}
.Character--correct {
  color: gray;
}
.Character--wrong {
  color: red;
}
